/*Variables*/
  @background_color:#8558a8;
  @wht-col: #7190ff;
  @gre-col: #c1dd79;
  @loto-green: #27598a;
  @black:black;
  @green:green;
  @cement: #6d6a6c;
  @white: #27598a;
  @dimgrey:dimgrey;
  @model-header-background-color: #ffbe35;
  @model-header-color: white;
  @panel-active:red;
  @panel-inactive:black;
  @panel-title-color: #607780;
  @button-text-color: #f0f0f0;
  @button-left-color: #4bffad;
  @body-background-color: #dee4e6;
  @heading-a-m-s:black;
  @panel-heading-background-color:red;
  @panel-border-left-active-color:#c1dd79;
  @panel-border-left-inactive-color:orange;
  .article-menu-list{
    float:right;
    margin-right:15px;
  }
  #logo{
    width: 95px;
    height: 28px;
    float:left;
    margin-top:-3px;
  }
  .modal-header{
    background-color:@model-header-background-color;
    color:@model-header-color;
  }
  #accordion{
    margin:0px;
    padding:0px;
    border:0px;
    width:100%;
    height:100%;
  }
  .panel-title a {
    color:@panel-title-color;
  }

#panel-p1{
  border-left:7px solid @panel-border-left-active-color;
/*  background-color: @panel-heading-background-color;*/
}
#panel-p2{
  border-left:7px solid @panel-border-left-inactive-color;
  /*  background-color: @panel-heading-background-color;*/
}
#panel-p3{
  border-left:7px solid @panel-border-left-inactive-color;
  /*  background-color: @panel-heading-background-color;*/
}
.button-box,.button-box:hover{
  width:128px;
  margin-top:4px;
  border-radius:0px;
  border-top:0px;
  border-right:0px;
  border-bottom-left-radius:10px;
  border-left:3px solid @button-left-color;
  border-bottom:3px @loto-green;
  background-color:@black;
  color:@button-text-color;
}

    .noti_Container {
        position:relative;     /* This is crucial for the absolutely positioned element */
      border:1px solid #f0f0f0; /* This is just to show you where the container ends */
      width:16px;
      height:16px;
    }
    .noti_bubble {
      position:absolute;    /* This breaks the div from the normal HTML document. */
      top: -12px;
      right:-9px;
      padding:1px 2px 1px 2px;
      background-color: #dee4e6; /* you could use a background image if you'd like as well */
      color: #000000;
      font-weight:bold;
      font-size:0.55em;

      /* The following is CSS3, but isn't crucial for this technique to work. */
      /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
      /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
      border-radius:30px;
      //box-shadow:1px 1px 1px rgba(0, 0, 0, 0.76);
    }
  .panel-active{
    border:7px solid @panel-active;
  }
  .panel-inactive{
    border:7px solid @panel-inactive;
  }
  body{
    background-color: @body-background-color;
  }
  .grad{
    color: red;
    background-color:@background_color;
  }

  .article-img{
    width:64px;
    height:64px;
  }

  /* IE8- CSS hack */

  .table-size{
    width:100%;
    height:100px;
  }
  .field{
    width:33.33333333%;
    height:100%;
  }

  .crud-field{
    text-align: center;
    width:50%;
    height:100px;
    background-color: @black;
    color:@white;
    margin: 0 auto;
  }
  .crud-field:hover{
    border:1px solid @background_color;
  }
  .edit{
    padding:1px;
    border: 0 solid white;
    background-color: @loto-green;
    color: @wht-col;
  }
  .edit:hover{
    padding: 0;
    color: @cement;
    border-top:@green;
  }
  #crud {
    width:100%;
    height:200px;
  }

  #w0{
    opacity: 5.0;
  }
  .container{
    width:100%;
  }
  /*Css Button from net */
  .tick-mark {
    color:@background_color;
  }
.imgz{
  border-radius:100%;
  margin-top:15px;
  margin-left:10px
}
h5{
  color:@heading-a-m-s;
}
.imgz1{
  border-left:8px solid @black;
  round:gray;
  margin-top:4px;
  margin-left:3px;
}
/*
#create-groups{
  margin-bottom: 3px;
  border-left:5px solid @loto-green;
  border-top:2px solid @cement;
  border-right: 2px solid @cement;
  border-bottom:2px solid @cement;
}*/
